<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AjaxDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxContainer</display-name>
    <servlet-name>AjaxContainer</servlet-name>
    <servlet-class>servletContainer.AjaxContainer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxContainer</servlet-name>
    <url-pattern>/AjaxContainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler1</display-name>
    <servlet-name>ErrorHandler1</servlet-name>
    <servlet-class>errorHandler.ErrorHandler1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler1</servlet-name>
    <url-pattern>/ErrorHandler1</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler1</location>
  </error-page>
<error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler1</location>
</error-page>

<!-- If below tag is enabled, error message will be replaced by 
Errorhandler code instead of apache default page  -->

<!-- error-page> 
    <error-code>500</error-code>
    <location>/ErrorHandler1</location>
</error-page -->

<!-- exception-type related error pages -->
<error-page>
    <exception-type>
          javax.servlet.ServletException
    </exception-type >
    <location>/ErrorHandler1</location>
</error-page>

<error-page>
    <exception-type>java.io.IOException</exception-type >
    <location>/ErrorHandler1</location>
</error-page>
<error-page>
    <exception-type>java.lang.NumberFormatException</exception-type >
    <location>/ErrorHandler1</location>
</error-page>
<error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/ErrorHandler1</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler1</location>
  </error-page>
</web-app>